@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');

:root{
    --font-popping:'Poppins', sans-serif;
    --primary-blue: #75B3CB;
    --secondary-blue: #CAF0FF;
    --light-blue: #EBF9FF;
    --primary-red: #EFA693;
    --secondary-red: #FFDCD3;
    --light-red: #FFF6F3;
    --black: #444950;
    --gray: #939393;
    --seconday-color-one: #8FD0B9;
    --seconday-color-two: #9594D2;
    --seconday-color-three: #FFC658;
    --seconday-color-four: #AAC6C9;
    --white: #fff;
    --font-size-p: 1.2rem;
    --font-size-p1: 1.4rem;
    --font-size-p2: 1.5rem;
    --font-size-p3: 2rem;
    --font-size-subtitle: 1.8rem;
    --font-size-title: 3.2rem;
}